In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Movie_regression.csv")
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

# Missing Value Imputation

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [5]:
df["Time_taken"].fillna(value=df["Time_taken"].mean(),inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

# Get dummis

In [7]:
df = pd.get_dummies(df,columns=["3D_available","Genre"],drop_first=True,)

In [8]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [9]:
df.shape

(506, 20)

# X-y split

In [10]:
X = df.loc[:,df.columns!="Collection"]

In [11]:
X.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [12]:
y = df["Collection"]

In [13]:
print(X.shape,y.shape)

(506, 19) (506,)

# Train test split

In [14]:
from sklearn.model_selection import train_test_split
X_test,X_train,y_test,y_train = train_test_split(X,y,test_size=0.8,random_state=0)

In [15]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(405, 19) (101, 19) (405,) (101,)

# Standardizing data
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler().fit(X_train)

In [17]:
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [18]:
X_test_std

array([[-0.40197551, -1.29100343,  0.5640014 , ..., -0.67202151,
        -0.5       , -0.71892554],
       [ 0.59247258,  1.0465063 , -1.87922172, ...,  1.48804762,
        -0.5       , -0.71892554],
       [-0.27628384,  1.61294888, -0.6142906 , ...,  1.48804762,
        -0.5       , -0.71892554],
       ...,
       [-0.39248501, -0.16260199,  0.05283061, ..., -0.67202151,
        -0.5       , -0.71892554],
       [-0.38375398, -0.62591914,  0.91055787, ..., -0.67202151,
        -0.5       ,  1.39096463],
       [-0.39380543, -1.05336657,  0.37339534, ..., -0.67202151,
        -0.5       ,  1.39096463]])

# Training Regressin tree
https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

In [19]:
from sklearn.svm import SVR
svr = SVR(kernel="linear",C=500)

In [20]:
svr.fit(X_train_std,y_train)

SVR(C=500, kernel='linear')

# predict values using trained model

In [21]:
y_test_pred = svr.predict(X_test_std)
y_train_pred = svr.predict(X_train_std)

In [22]:
y_test_pred

array([67023.27588661, 29595.36782772, 38540.38217964, 36176.63332149,
       51507.57879606, 75797.53609599, 49993.29238358, 73090.87114079,
       46454.7844024 , 40497.09689934, 28849.3320416 , 23762.36870682,
       34541.84434326, 43242.78263704,  5610.83098442, 50544.20081177,
       49903.38530008, 77800.2212861 , 45636.24853426, 33535.13131223,
       64881.45215867, 58007.20259704, 29560.24386346, 51732.33051217,
       83220.36166478, 39595.36092834, 36595.93641615, 49453.15887275,
       38973.88797388,  9037.02439405, 35981.07226963, 68235.81497851,
       43631.37577255, 48084.88472792, 22767.04821819, 46805.01831663,
       35765.10798791, 32961.23253441, 41693.83559453, 61191.94841476,
       46519.6731213 , 56786.57473785, 53356.18218178, 76076.60810814,
       30157.11123742, 32280.65617409, 70042.63900737, 37630.87533689,
       30318.69216358, 30334.26986977, 48486.6465048 , 40664.25336847,
       35818.3366337 , 45176.87776901, 41689.26397887, 10389.55579815,
       39450.51221883, 16460.79641029, 52998.92504018, 18433.62056155,
       54535.23821775, 63517.83794757, 47691.70603685, 33998.1096086 ,
       44775.09017182, 42746.33010954, 59441.42439272, 54313.03920165,
       37811.24987852, 37054.01540182, 13913.03540441, 41164.19412313,
       45172.2177226 , 48537.80373582, 36098.31601086, 44083.58576188,
       42280.37732005, 22356.94697108, 48204.12314238, 36547.64084631,
       61170.75102456, 56265.35928902, 49584.09679746, 36867.93537059,
       58490.82057129, 42965.98153013, 52779.92825279, 51470.24353624,
       57444.34678385, 49313.23649855, 55526.44377739, 26046.92056124,
       37048.83526392, 34170.07951051, 76608.34320523, 50743.39748084,
       39941.98842229, 62161.42695626, 40198.73362777, 35214.94317027,
       37018.08708591])

# Model performance

In [23]:
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
mean_squared_error(y_test,y_test_pred)

98541314.21154755

In [24]:
r2_score(y_test,y_test_pred)

0.7616266123837467